header h1 {
  text-align: center;
  font-size: 3rem;
  font-family: serif;
  background-color: aliceblue;
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  color: #27374d;
}

.accordion .item,
.accordion .active {
  width: 60%;
  margin: 3px auto;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 9px -2px #999999;
}

@media (max-width: 750px) {
  .accordion .item,
  .accordion .active {
    width: 80%;
  }
}

.accordion .item:nth-child(odd) {
  background-color: #f9fbe7;
  border-left: 10px solid #95bdff;
}

.accordion .item:nth-child(even) {
  background-color: #e3f2c1;
  border-left: 10px solid #99a98f;
}

.accordion .active:nth-child(odd) {
  background-color: #f9fbe7;
  border-left: 15px solid #d2e9e9;
}

.accordion .active:nth-child(even) {
  background-color: #f6ffde;
  border-left: 15px solid #c9dbb2;
}

.accordion .item .head,
.accordion .active .head {
  display: flex;
  margin: 0 1rem;
  font-size: 2rem;
  color: #7b7a7a;
  justify-content: space-between;
}
.accordion .active .head {
  color: #3d3d3d;
}

.open {
  animation: open 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal none;
}
@keyframes open {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

.close {
  animation: close 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal none;
}
@keyframes close {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.accordion .item .title,
.accordion .active .title {
  padding: 0 1rem 1rem 1rem;
  font-size: 1.5rem;
  color: #27374d;
  font-family: sans-serif;
}

.accordion .item .text,
.accordion .active .text {
  padding: 2rem 1rem;
  font-size: 1.3rem;
  color: #562b08;
  font-weight: 400;
  font-family: system-ui;
  text-align: justify;
}

footer h4 {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: serif;
  background-color: aliceblue;
  padding: 0.5rem;
  margin-bottom: 0;
  color: #27374d;
}
